[server]
domain = {{ grafana_public_domain }}

[smtp]
enabled = true
host = localhost:25
;user =
;password =
;cert_file =
;key_file =
;skip_verify = false
from_address = admin@example.com
;from_name = Grafana
;ehlo_identity = dashboard.example.com

[emails]
;welcome_email_on_sign_up = false
